backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
certifi==2021.10.8
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
easyocr==1.4.1
entrypoints==0.3
fonttools @ file:///D:/bld/fonttools_1639926454645/work
imageio==2.9.0
imutils @ file:///D:/bld/imutils_1639012534095/work
ipykernel @ file:///C:/ci/ipykernel_1633545585502/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1635944283918/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi @ file:///C:/ci/jedi_1611341083684/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1640335223713/work
jupyter-core @ file:///C:/ci/jupyter_core_1636537172022/work
kiwisolver @ file:///D:/bld/kiwisolver_1635836893295/work
matplotlib @ file:///D:/bld/matplotlib-suite_1639359208125/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
munkres==1.1.4
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==2.6.3
numpy==1.22.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-contrib-python==4.5.5.62
opencv-python-headless==4.5.5.62
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.2.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
python-bidi==0.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
PyWavelets==1.2.0
pywin32==302
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1638435148211/work
scikit-image==0.19.1
scipy @ file:///C:/bld/scipy_1637807047976/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
tifffile==2021.11.2
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
tornado @ file:///C:/ci/tornado_1606924294691/work
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
wincertstore==0.2
